<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Flower Classification</title>
      <script>
            
      </script>
      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>

		<h1><b>What flower is that?</b></h1>

		<div >
    		<table id="example" class="display" width="10%" style="margin-right:20px; margin-top:100px;float:right;"><caption><b>Prediction</b></caption></table>
    		<table id="info" class="display" width="10%" style="margin-right:20px; margin-top:10px;float:right;"><caption><b>Training Result</b></caption></table>

		</div>
		<div id="debug" style="margin:65px; margin-top:100px;">
             <canvas id="canvas"></canvas>
             <input type="file" id="inp">

			<a href="#" class="myButton"><span style=" font-weight: 400; font-family: 'Open Sans', Helvetica;	"> Predict </span></a>
		
		</div>

        
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">        
  		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	    <script src="{{ url_for('static',filename='index.js') }}"></script>
	    <script type="text/javascript">
    	    var table = $('#myTable').DataTable();
            $(document).ready(function() {
                $('#example').DataTable( {
                    "paging":   false,
                    "ordering": false,
                    "info":     false,
                    "searching": false,
                    columns: [
                        { title: "Model" },
                        { title: "Daisy" },
                        { title: "Dandelion" },
                        { title: "Rose" },
                        { title: "Sunflower" },
                        { title: "Tulip" }
                    ]
                });
                $('#info').DataTable( {
                    data : [
                        [
                            "Resnet50",
                            "0.886765",
                            "0.971277"
                        ],[
                            "Vgg16",
                            "0.867512",
                            "0.951287"
                        ],[
                            "Xception",
                            "0.911233",
                            "0.991982"
                        ],[
                            "InceptionV3",
                            "0.897891",
                            "0.991678"
                        ]    
                    ],
                    "paging":   false,
                    "ordering": false,
                    "info":     false,
                    "searching": false,
                    columns: [
                        { title: "Model" },
                        { title: "Val_acc" },
                        { title: "Acc" }
                    ]
                });
            } );

	   		$(".myButton").click(function(){
	   			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	   			var canvasObj = document.getElementById("canvas");
	   			var img = canvasObj.toDataURL();
	   			$.ajax({
	   				type: "POST",
	   				url: $SCRIPT_ROOT + "/predict",
	   				data: img,
	   				success: function(data){
    	   				var input = [];
    	   				$('#example').DataTable().destroy()
    	   				var mydata = JSON.parse(data);
    	   				var arrdata = [mydata.a, mydata.b, mydata.c, mydata.d];
    	   				arrdata.forEach(function(valdata){			
                           input.push([
                                   valdata.model, valdata.daisy, valdata.dandelion, valdata.rose, valdata.sunflower, valdata.tulip
                               ]);
                        });
                        $('#example').DataTable({
                            "paging":   false,
                            "ordering": false,
                            "info":     false,
                            "searching": false,
                            data : input
                        });
	   					
	   				}
	   			});
	   		});
	   		
	   		document.getElementById('inp').onchange = function(e) {
              var img = new Image();
              img.onload = draw;
              img.onerror = failed;
              img.src = URL.createObjectURL(this.files[0]);
            };
            function draw() {
              var canvas = document.getElementById('canvas');
              canvas.width = 300;
              canvas.height = 300;
              var ctx = canvas.getContext('2d');
              ctx.drawImage(this, 0, 0, 300, 400)
            }
            function failed() {
              console.error("The provided file couldn't be loaded as an Image media");
            }

	   </script>
</body>
</html>
